{% extends 'main.html' %}


{% block content %}

{% for project in projects %}
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{project.title}}</h5>
                <div class="card">
                    <img src="{{project.image.url}}" alt="image">
                </div>
                <p class="card-text">{{project.description}}</p>
                <a href="{{project.link}}" target="_blank">Visit</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}