{% extends 'main.html' %}
{% load static %}

{% block content %}
{% if today %}
{% if best %}
<div class="sections"
    style="background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('{{best.image.url}}') no-repeat center; background-size: cover;">
    <div class="section-one">
        <strong class="stdx">
            <p><strong>Site of the day</strong> <span>{{date}}</span></p>
        </strong>
    </div>

    <div class="section-two">
        <a href="{% url 'project' best.id %}">
            <div class="secxz">
                <a href="{% url 'project' best.id %}"><span class="qws">{{best.owner.user.username}}</span> -
                    {{best.title}}
                    <span><i class="fa fa-share" aria-hidden="true"></i></span>
                </a>
            </div>
            <p></p>
            <div class="details-x">
                BY
                <a href="{% url 'profile' best.owner.user.id %}">{{best.owner.user.username | upper}}</a>
                FROM
                {{best.owner.location | upper}} WITH &nbsp;<span
                    class=" btn btny text-redx"><strong>{{best.average_score|stringformat:'f'|slice:"0:4"}}</strong></span>
            </div>
        </a>
        <div class="d-flex rates-x">
            <p></p>
            <div>
                <div class="ratebox">
                    <p>{{best.average_design|stringformat:'f'|slice:"0:4"}}</p>
                </div>
                <p class="pzxc">design</p>
            </div>
            <div>
                <div class="ratebox">
                    <p>{{best.average_usability|stringformat:'f'|slice:"0:4"}}</p>
                </div>
                <p class="pzxc">usability</p>
            </div>
            <div>
                <div class="ratebox">
                    <p>{{best.average_content|stringformat:'f'|slice:"0:4"}}</p>
                </div>
                <p class="pzxc">content</p>
            </div>
            <div>
                <div class="ratebox">
                    <p>{{best.average_creativity|stringformat:'f'|slice:"0:4"}}</p>
                </div>
                <p class="pzxc">creativity</p>
            </div>
        </div>
    </div>

    <div class="visit-site">
        <button class="btn btnc"><a href="{{best.link}}" target="_blank">Visit site</a></button>
        <p>
            {% if best.owner.profile_photo %}
            <a href="{% url 'profile' best.owner.user.id %}"><img src=" {{ best.owner.profile_photo.url}}"
                    class="rounded-circle img-thumbnail" style="width: 5rem;"></a>
            {% else %}
            <p><i class="fa fa-user-circle rounded-circle img-thumbnail" style="width: 5rem;"></i></p>
            {%endif%}
        </p>
    </div>
</div>
{%endif%}
{% else %}
{% if q %}
{% else %}
<div class="sections">
    <p class="todax"> { Site of the day section }
        <br>
        <span class="text-red" style="font-weight: 500;"> ~ No projects posted / rated 
            today ~
        <br>
        Please submit a project and let people rate it for this section to work
        </span>
          
    </p>
</div>
{% endif %}
{% endif %}
<p></p>

{% if q %}
<p class="text-center">{{pq}} result's' found </p>
<div class="container">
    <div class="row container justify-content-center">
        {% for project in projects %}
        <div class="col-md-3">
            <div class="card xcvx" style="max-width: 32rem;">
                <a href="{% url 'project' project.id %}">
                    <img src="{{project.image.url}}" class="card-img-top img-fluid" alt="project image">
                </a>
                <div class="card-body">
                    <h4 class="card-title"><strong>{{project.title}}</strong></h4>
                </div>
                <div class="locdate container">
                    <small class="card-text">From {{project.location}}</small>
                    <small>{{project.updated | date}}</small>
                </div>
                <div class="card-body container">
                    <h7>
                        <span>
                            {% if project.owner.profile_photo %}
                            <img src="{{project.owner.profile_photo.url}}" alt="" class="rounded-circle"
                                style="width: 10%">
                            {% else %}
                            <img src="{% static 'images/avatar.jpg' %}" alt="" class="rounded-circle"
                                style="width: 10%">
                            {%endif%}
                        </span><a href="{% url 'profile' project.owner.user.id %}" class="card-link smx">By
                            <strong>{{project.owner.user.username | upper}}</strong></a>
                    </h7>
                </div>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<p class="m-3 pbg">
    We need your vote! <strong>please click on a project image to rate it</strong> <i class="fa fa-walking cnm"></i>
    <br>
    <strong>Nominees </strong>
</p>

<div class="container">
    <div class="row container justify-content-center">
        {% for project in projects %}
        <div class="col-md-3">
            <div class="card xcvx" style="max-width: 32rem;">
                <a href="{% url 'project' project.id %}">
                    <img src="{{project.image.url}}" class="card-img-top img-fluid" alt="project image">
                </a>
                <div class="card-body">
                    <h4 class="card-title"><strong>{{project.title}}</strong></h4>
                </div>
                <div class="locdate container">
                    <small class="card-text">From {{project.location}}</small>
                    <small>{{project.updated | date}}</small>
                </div>
                <div class="card-body container">
                    <h7>
                        <span>
                            {% if project.owner.profile_photo %}
                            <img src="{{project.owner.profile_photo.url}}" alt="" class="rounded-circle"
                                style="width: 10%">
                            {% else %}
                            <img src="{% static 'images/avatar.jpg' %}" alt="" class="rounded-circle"
                                style="width: 10%">
                            {%endif%}
                        </span><a href="{% url 'profile' project.owner.user.id %}" class="card-link smx">By
                            <strong>{{project.owner.user.username | upper}}</strong></a>
                    </h7>
                </div>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock content %}