{% extends 'main.html' %}
{% load bootstrap5 %}

{% block content %}
<br>
<p class="text-center">
    <img src="{{user.profile_photo.url}}" alt="" style="width: 10%;">
</p>
<p class="text-center">
    <a href="{{user.my_link}}" target="_blank">{{user.user.username}}</a>
</p>
<p class="text-center">{{user.bio}}</p>


<form action="" method="post" style="margin-top: 2rem;">
    {%csrf_token%}
    
    <input type="submit" class=" btn btn-info" name="unfollow" value="Unfollow"
        style="color: #003569 !important; padding: 6px 9px;">
</form>

<form action="" method="post" style="margin-top: 2rem;">
    {%csrf_token%}
    {% bootstrap_form follow_form%}
    <input type="submit" class=" btn btn-primary" name="follow" value="Follow"
        style="background-color: #003569 !important; padding: 6px 9px;">
</form>

<br>
<p class="container">{{project_count}} projects</p>
{% for project in user_projects %}
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{project.title}}</h5>
                <div class="card">
                    <img src="{{project.image.url}}" alt="image">
                </div>
                <p class="card-text">{{project.description}}</p>
                <p>from {{project.location}} - - {{project.updated | date}}</p>
                <a href="{{project.link}}" target="_blank">Visit</a>
                <a href="{% url 'profile' project.owner.user.id %}">By {{project.owner.user.username}}</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}