{% extends 'main.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
<div class="container-fluid fullz">
    <div class="upone">
        <div class="social-icons ">
            <i class="fa-brands fa-facebook trxz"><a href="#"></a></i>&nbsp;
            <i class="fa-brands fa-twitter trxz"><a href="#"></a></i>&nbsp;
            <i class="fa-brands fa-linkedin trxz"><a href="#"></a></i>&nbsp;
            <i class="fa-brands fa-instagram trxz"><a href="#"></a></i>&nbsp;
            {%if user.user.username == request.user.username%}

            {% else%}
            <div>
                {% if isFollowing %}
                {% if unfollow_form %}
                <form action="{% url 'follow' user.user.id %}" method="post">
                    {%csrf_token%}
                    {% bootstrap_form unfollow_form%}
                    <input type="submit" class=" btn btn-x" name="unfollow" value="following">
                </form>
                {% endif %}
                {% else %}
                {% if follow_form %}
                <form action="{% url 'follow' user.user.id %}" method="post">
                    {%csrf_token%}
                    {% bootstrap_form follow_form%}
                    <input type="submit" class=" btn btn-x" name="follow" value="Follow">
                </form>
                {% endif %}
                {% endif %}
            </div>
            {% endif %}
        </div>

        <div class="photox" style="max-width: 50rem;">
            {% if user.profile_photo %}
            <img src="{{user.profile_photo.url}}" alt="" class="rounded-circle" style="width: 20%">
            {% else %}
            <img src="{% static 'images/avatar.jpg' %}" alt="" class="rounded-circle" style="width: 20%">
            {%endif%}
        </div>

        <div class="visitsite">
            <a href="{{user.my_link}}"><button class="btn btnc">Visit site</button></a>
        </div>
    </div>
    <br>
    <div class="detailsz">
        <h1 class="text-center">{{user.user.username}} <a href="{{user.my_link}}"><i class="fa fa-share"
                    aria-hidden="true"></i></a></h1>
        <br> 
        {%if user.user.username == request.user.username%}
        <a href="{% url 'update-user' %}"><button class="btn btn--pill">Edit user <span
                    class="mr-3 fa fa-cog"></span></button></a>
        {% endif %}
        <p></p>
        <p class="text-center p-1">{{user.bio}}</p>
        <p>reach out @<strong>{{user.user.email}}</strong></p>

    </div>


    <div class="container">
        <hr>
        <p><strong>{{project_count}} Project's'</strong></p>
        <br>
        <div class="row images-list container justify-content-center">
            <div class="row">
                {% for project in user_projects %}
                <div class="col-md-3">
                    <div class="card xcvx" style="max-width: 32rem;">
                        <div>
                            {% if request.user == project.owner.user %}
                            <a  class="delkey" href="{% url 'delete-post' project.id %}"><i class="fa fa-times"></i></a>
                            {% endif %}
                        </div>
                        <a href="{% url 'project' project.id %}">
                            <img src="{{project.image.url}}" class="card-img-top img-fluid" alt="project image">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title"><strong>{{project.title}}</strong></h4>
                        </div>
                        <div class="locdate container">
                            <small class="card-text">From {{project.location}}</small>
                            <small>{{project.updated | date}}</small>
                        </div>
                        <div class="card-body container">
                            <h7>
                                <span>
                                    {% if project.owner.profile_photo %}
                                    <img src="{{project.owner.profile_photo.url}}" alt="" class="rounded-circle"
                                        style="width: 10%">
                                    {% else %}
                                    <img src="{% static 'images/avatar.jpg' %}" alt="" class="rounded-circle"
                                        style="width: 10%">
                                    {%endif%}
                                </span><a href="{% url 'profile' project.owner.user.id %}" class="card-link smx">By
                                    <strong>{{project.owner.user.username | upper}}</strong></a>
                            </h7>
                        </div>
                    </div>
                    <br>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}