{% extends 'main.html' %}
{% load bootstrap5 %}

{% block content %}

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{project.title}}</h5>
                <div class="card">
                    <img src="{{project.image.url}}" alt="image" style="width: 40%;">
                </div>
                <p class="card-text">{{project.description}}</p>
                <p>from {{project.location}} - - {{project.updated | date}}</p>
                <a href="{{project.link}}" target="_blank">Visit</a>
                <a href="{% url 'profile' project.owner.user.id %}">By {{project.owner.user.username}}</a>
                {% for rating in ratings %}
                <p><strong>{{rating.design}}</strong>-<strong>{{rating.usability}}</strong>-<strong>{{rating.content}}</strong>-{{rating.average|stringformat:'f'|slice:"0:4"}} </p>
                <p></p>
            {% endfor %}
            </div>               
        </div>
    </div>
</div>

{% endblock content %}