{% extends 'main.html' %}
{% load bootstrap5 %}

{% block content %}

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{project.title}}</h5>
                <div class="card">
                    <img src="{{project.image.url}}" alt="image" style="width: 40%;">
                </div>
                <p class="card-text">{{project.description}}</p>
                <p>from {{project.location}} - - {{project.updated | date}}</p>
                <a href="{{project.link}}" target="_blank">Visit</a>
                <a href="{% url 'profile' project.owner.user.id %}">By {{project.owner.user.username}}</a>
                <p>{{project.average_design|stringformat:'f'|slice:"0:4"}}-{{project.average_usability|stringformat:'f'|slice:"0:4"}}-{{project.average_content|stringformat:'f'|slice:"0:4"}}-{{project.average_score|stringformat:'f'|slice:"0:4"}}</p>
                {% for rating in ratings %}
                <p><strong>{{rating.design}}</strong>-<strong>{{rating.usability}}</strong>-<strong>{{rating.content}}</strong>-{{rating.average|stringformat:'f'|slice:"0:4"}}
                </p>
                <p>{{rating.user.username}}</p>
                <hr>
                {% endfor %}
                <p>{{ratings_count}}</p>
                {% for user in raters %}
                    {{user.username}}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<button class="btn" type="button" data-bs-toggle="modal"
data-bs-target="#exampleModal">Vote</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Vote</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}

                <div class="modal-footer">
                    <button type="submit" class="btn">Rate</button>
            </form>
        </div>

    </div>
</div>
</div>

{% endblock content %}
<!-- <div class="mb-3">
    <label for="Design">Design</label>
    <input type="number" class="form-control" name="design" min="0"
        max="10" value="0">
</div>
<div class="mb-3">
    <label for="Usability">Usability</label>
    <input type="number" class="form-control" name="usability" min="0"
        max="10" value="0">
</div>
<div class="mb-3">
    <label for="Content">Content</label>
    <input type="number" class="form-control" id="Content" min="0"
        max="10" value="0" name="content">
</div>
<div class="modal-footer">
    <button type="submit" class="btn">Save</button>
</div> -->