{% load static %}

<header class="sticky-top">
    <nav class="navbar navbar-expand-lg">

        <div id="mySidebar" class="sidebar">
            <div class="sx">
                <span>English <span class="fas fa-flag-usa"></span></span>
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><span class="x"> CLOSE <i
                            class="fa fa-times" aria-hidden="true"></i></span></a>
            </div>
            <a href="{% url 'home' %}">Home awwwards</a>
            <a href="{% url 'register' %}">Register</a>
            <a href="{% url 'login' %}">Login</a>
        </div>

        <div id="mainside">
            <button class="openbtn" onclick="openNav()">&#9776; MENU</button>
        </div>

        <div class="container-fluid">
            <div class="search__input ">
                <form class="form-inline my-2 my-lg-0" method="get" action="">
                    <input class="form-control mr-sm-2 nosubmit" type="search" name="q" aria-label="Search">
                </form>
            </div>

            <div>
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'images/aw.png' %}" alt="Instagram">
                </a>
            </div>

            <div>
                <p>ARE YOU A MEMBER? <a href="{% url 'register' %}"><strong>REGISTER</strong></a> / <a
                        href="{% url 'login' %}"><strong>LOG IN</strong></a></p>
            </div>
            <div>
                <a href="{% url 'submit-site' %}"><strong>SUBMIT YOUR SITE!</strong></a>
            </div>
            <a href="{% url 'profile' request.user.id %}">profile - {{request.user.username}}</a>
        </div>
    </nav>
</header>